body{
    background-color: white;
}
.container {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: auto;
    margin-bottom: auto;
}
.card{
    padding: 5px;
    border: none !important;
    margin-top: 10px !important;
}
.img-card{
    border-radius: 50%;
    width: 80px !important;
    height: 80px !important;
    align-self: center;
}